<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico" />
<title>Produto</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<!-- 	<link rel="stylesheet" type="text/css" -->
<!-- 		href="resources/css/main.css"> -->
</head>

<body>
	<div id="produto" @submit.prevent="salvar" class="form-group col-3">

		<h4>{{titulo}}</h4>

		<form id="cadastro" method="post">
		
			<p>
				<label for="produto.nome">Nome</label> 
				<input class="form-control" id="produto.nome" v-model="produto.nome" type="text" name="produto.nome" required>
			</p>
			
			<p>
				<label for="produto.fabricante">Fabricante</label> 
				<select id="produto.fabricante" v-model="produto.fabricante" name="produto.fabricante" class="form-control">
					<option v-for="fabricant in listaFabricantes" v-bind:value="fabricant">
					    {{ fabricant.nome }}
					  </option>
				</select>
			</p>

			<p>
				<label for="produto.volume">Volume</label> 
				<input id="produto.volume" class="form-control" v-model="produto.volume" required 
					   type="text" name="produto.volume" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
			</p>

			<p>
				<label for="produto.unidade">Unidade</label> 
				<input id="produto.unidade" class="form-control" v-model="produto.unidade" required name="produto.unidade" >
			</p>
			
			<p>
				<label for="produto.estoque">Estoque</label> 
				<input id="produto.estoque"  class="form-control" v-model="produto.estoque" required 
					  name="produto.estoque" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
			</p>

			<p>
				<input class="btn btn-success" type="submit" value="Salvar">
				
				<a class="btn btn-primary" href="/mercado">Voltar</a>
			</p>
		</form>
		
	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/cadastra-atualiza-produtos.js"></script>
</body>
</html>